@font-face {
    font-family: premierLeague;
    src: local('premierLeague'), url('./font.ttf');
}

html {
    font-family: premierLeague, 'Arial';
    background-color: #ECEFE8;
    font-size: 20px;

}

.team-name {
    color: white; 
    font-size: 50px; 
    padding-left: 20px;
    margin: 0; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
}

.bench-player {
    background-color: #ECEFE8;
    border-bottom: 5px solid #ABACA6 ;
    padding: 5px;
}

.line {
    display: flex; 
    justify-content: space-around;
}

.gk-line {
    display: flex; 
    justify-content: center;
}

.team-logo {
    height: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.field {
    width: 95%; 
    height: 700px; 
    background-image: url('field.jpg');
    background-color: #DEDAD9; 
    background-size: contain;
    background-repeat: round;
    /* border: 5px solid #DEDAD9; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.player {
    display: flex;
    flex-flow: column;
}

.flag {
    width: 40px;
}

.player-name {
    width: 250px;
    padding: 7px;
    background-color: #EDECEA;
    text-align: center;
    font-size: 23px;
}

.family-name {
    font-weight: bold;
}
